.card {
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    border-style: solid;
}

.botao {
    background-color: rgb(0, 140, 255);
    text-align: center;
    color: aliceblue;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}