body {
    background-color: aliceblue;
}

#tituloprincipal {
    color: rgba(1, 37, 71, 0.89);
    text-align: center;
}

#divprincipal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#spotify:hover {
    background-color: #1ed94d5d !important;
}

#youtube:hover {
    background-color: #f2051950 !important;
}

#amazonmusic:hover {
    background-color: #049dd973 !important;
}

.opcao {
    background-color: white;
    height: 150px;
    width: 350px;
    border-radius: 15px;
    margin: 20px;
    padding: 5px;
    box-shadow: 10px 10px 15px #0000005d;
}

.opcao:active {
    background-color: #1ed94d1e;
}

a {
    color: black;
}

p::before {
    content:  '*';
    color: red;
}

p::after {
    content:  '*';
    color: red;
}

a::after {
    content: '\266C';
}

#spotify:active {
    background-color: #48945d !important; 
}

#youtube:active {
    background-color: #9e4149 !important; 
}

#amazonmusic:active {
    background-color: #407d96d3 !important; /
}